parameters:
	ignoreErrors:
		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: ../../../../../../docroot/modules/custom/access/modules/access_news/src/Plugin/search_api/processor/AnnouncementAg.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: ../../../../../../docroot/modules/custom/access/modules/access_news/src/Plugin/search_api/processor/AnnouncementTags.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: ../../../../../../docroot/modules/custom/access/modules/access_news/src/Plugin/search_api/processor/EventAffinityGroup.php
