openapi: 3.0.3
info:
  title: ACCESS Events READ API (public, v2.3)
  description: |
    The public **read** API for ACCESS events, trainings, webinars, and office hours. It provides
    the events **listing** (`GET /events`) and a single event's **detail** (`GET /events/{eventinstance}`).

    This is the read side of events. The separate, authenticated **Event Registration API** (v1.0)
    owns the act side — registering, listing your own registrations, and cancelling.

    ## What's New in v2.3
    - **Future events by default**: Returns only upcoming events unless date filters specify otherwise
    - **Sorted by date ascending**: Nearest events appear first
    - **Tags populated**: Events include comma-separated tag names (e.g., `"ai, machine-learning"`)
    - **Fixed pagination**: Page sizes are now accurate (25 returns 25)

    ## Features
    - **Pagination**: Default 100 items per page, customizable with `items_per_page` parameter
    - **Faceted Search**: Filter by event type, affiliation, skill level, tags, and date ranges
    - **Full-text Search**: Search across event titles, descriptions, and content with `search_api_fulltext` parameter
    - **CORS Enabled**: Can be called from any domain
    - **Date Filtering**: Support for both relative (`today`, `+1week`) and absolute date formats
    - **Timezone Support**: UTC (default), America/New_York, America/Los_Angeles, Europe/London

    ## Authentication
    The listing is public — no authentication required. The event **detail** endpoint is also
    readable anonymously, but its `registration` block is **partitioned by caller**: an anonymous
    caller sees only the event-level registration configuration (`enabled`, `capacity`,
    `registered_count`, `seats_remaining`, `waitlist_enabled`), whereas an authenticated acting-user
    caller (passing `X-Acting-User`) additionally sees `registration_open`, `registration_window`,
    and `already_registered`. See the detail endpoint for the full partition.

  version: 2.3.0
  termsOfService: https://access-ci.org/terms
  contact:
    name: ACCESS Support
    url: https://support.access-ci.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://support.access-ci.org/api/2.3
    description: Production server

paths:
  /events:
    get:
      summary: Get events list
      description: |
        Retrieve a list of events with optional filtering and pagination.

        **Default behavior:** Returns future events only, sorted by start date ascending (nearest first).
        To retrieve past events, use `beginning_date_relative` with a negative offset (e.g., `-1year`).

        ## Pagination
        - Default: 100 events per page
        - Options: 25, 50, 100, 250, 500, or "All"
        - Use `page` parameter for pagination navigation
        
        ## Faceted Search
        Use the format `f[0]=field:value` for filtering:
        - Event Type: `f[0]=event_type:Training`
        - Affiliation: `f[0]=affiliation:ACCESS Collaboration`
        - Affinity Group: `f[0]=affinity_group:Anvil`
        - Skill Level: `f[0]=skill_level:Beginner`
        - Tags: `f[0]=tags:ai`
        
        ## Date Filtering
        **Relative dates:**
        - `beginning_date_relative=today`
        - `beginning_date_relative=+1week` 
        - `end_date_relative=+1month`
        
        **Absolute dates:**
        - `beginning_date=2025-01-01T00:00:00Z`
        - `end_date=2025-12-31T23:59:59Z`
        
      operationId: getEvents
      tags:
        - Events
      parameters:
        # Pagination Parameters
        - name: items_per_page
          in: query
          description: Number of items per page (25, 50, 100, 250, 500, or "All")
          required: false
          schema:
            oneOf:
              - type: integer
                enum: [25, 50, 100, 250, 500]
              - type: string
                enum: ["All"]
            default: 25
        - name: page
          in: query
          description: Page number for pagination (0-indexed)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
            
        # Faceted Search Parameters  
        - name: f[0]
          in: query
          description: |
            Faceted search filter in format `field:value`.
            
            **Available fields:**
            - `event_type` - Filter by event type (Training, Office Hours, other)
            - `affiliation` - Filter by affiliation (ACCESS Collaboration, Community, nairr_pilot, etc.)
            - `affinity_group` - Filter by affinity group (Anvil, Stampede-3, etc.)
            - `skill_level` - Filter by skill level (Beginner, Intermediate, Advanced)
            - `tags` - Filter by tags (ai, big-data, python, etc.)
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            event_type:
              value: "event_type:Training"
              summary: Filter by Training events
            affiliation:
              value: "affiliation:ACCESS Collaboration"
              summary: Filter by ACCESS Collaboration affiliation
            affinity_group:
              value: "affinity_group:Anvil"
              summary: Filter by Anvil affinity group
            skill_level:
              value: "skill_level:Beginner"
              summary: Filter by Beginner skill level
            tags:
              value: "tags:ai" 
              summary: Filter by AI-related events
              
        # Date Filtering Parameters
        - name: beginning_date_relative
          in: query
          description: |
            Relative start date filter. Common values:
            - `today` - Events starting today
            - `+1day`, `+1week`, `+1month` - Events starting in the future
            - `-1month` - Events that started in the past month
          required: false
          schema:
            type: string
          examples:
            today:
              value: "today"
              summary: Events starting today
            next_week:
              value: "+1week"
              summary: Events starting next week
            next_month:
              value: "+1month" 
              summary: Events starting next month
              
        - name: end_date_relative
          in: query
          description: |
            Relative end date filter. Common values:
            - `today` - Events ending today
            - `+1day`, `+1week`, `+1month` - Events ending in the future
          required: false
          schema:
            type: string
            
        - name: beginning_date
          in: query
          description: Absolute start date in ISO 8601 format (UTC)
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01T00:00:00Z"
          
        - name: end_date
          in: query
          description: Absolute end date in ISO 8601 format (UTC)
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-12-31T23:59:59Z"
            
        - name: timezone
          in: query
          description: |
            Timezone for relative date calculations. Only affects relative dates.
            Absolute dates are always in UTC.
          required: false
          schema:
            type: string
            enum: [UTC, America/New_York, America/Los_Angeles, Europe/London]
            default: UTC
            
        # Other Parameters
        - name: changed
          in: query
          description: Filter events modified after this date (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01T00:00:00Z"
          
        # Full-text Search Parameter
        - name: search_api_fulltext
          in: query
          description: |-
            Full-text search across event titles, descriptions, and content.
            
            **Examples:**
            - `search_api_fulltext=OnDemand` - Search for Open OnDemand events
            - `search_api_fulltext=Python` - Search for Python-related events
            - `search_api_fulltext=training` - Search for training events
          required: false
          schema:
            type: string
          examples:
            ondemand_search:
              value: "OnDemand"
              summary: Search for Open OnDemand events
            python_search:
              value: "Python"
              summary: Search for Python-related events
            training_search:
              value: "training"
              summary: Search for training events
            
      responses:
        '200':
          description: Successful response with events list
          headers:
            Access-Control-Allow-Origin:
              description: CORS header allowing all origins
              schema:
                type: string
                example: "*"
            Access-Control-Allow-Headers:
              description: CORS header allowing all headers
              schema:
                type: string
                example: "*"
            Access-Control-Allow-Methods:
              description: CORS header allowing all methods
              schema:
                type: string
                example: "*"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
              examples:
                events_list:
                  summary: Example events response
                  value:
                    - id: "8504"
                      title: "Open OnDemand Tips and Tricks Call"
                      summary: "Learn practical tips for using this powerful, web-based platform that gives you seamless access to HPC resources—no software needed."
                      description: "Join our monthly community-hosted call to learn practical tips..."
                      contact: ""
                      affiliation: "ACCESS Collaboration, nairr_pilot"
                      created: "2025-09-15T14:39:34Z"
                      changed: "2025-09-15T14:40:14Z"
                      event_type: "other"
                      location: "Zoom"
                      registration: "https://utah.zoom.us/meeting/register/..."
                      registration_enabled: true
                      registration_capacity: 100
                      registration_has_waitlist: false
                      skill_level: ""
                      tags: "open-ondemand"
                      video: ""
                      start_date: "2026-08-06T13:00:00Z"
                      end_date: "2026-08-06T14:00:00Z"
                      speakers: ""
                      url: "https://support.access-ci.org/events/open-ondemand-tips-and-tricks-call"

        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_timezone:
                  summary: Invalid timezone parameter
                  value:
                    error: "Invalid timezone specified"
                    message: "Timezone must be one of: UTC, America/New_York, America/Los_Angeles, Europe/London"
                    
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /events/{eventinstance}:
    get:
      summary: Get event detail with registration state
      description: |
        Retrieve a single event instance plus its registration state.

        ## Anonymous vs authenticated (registration partition)
        The `registration` block is **partitioned by caller**:

        - **Anonymous callers** see only the event-level registration *configuration*:
          `{ enabled, capacity, registered_count, seats_remaining, waitlist_enabled }`. The
          per-user fields `registration_open`, `registration_window`, and `already_registered` are
          **omitted** entirely.
        - **Authenticated acting-user callers** (passing `X-Acting-User`, via the service account)
          additionally receive `registration_open`, `registration_window`, and `already_registered`.

        When native ACCESS registration is not enabled for the event, the block is
        `{ "enabled": false }` for both anonymous and authenticated callers.

        A published instance is viewable by anyone; an unpublished instance is viewable only to
        accounts whose access allows it (for example, the owner). An instance the caller may not
        view is reported as `404`.
      operationId: getEventDetail
      tags:
        - Event Detail
      parameters:
        - name: eventinstance
          in: path
          required: true
          description: The event instance ID.
          schema:
            type: integer
          example: 4567
      responses:
        '200':
          description: |
            Event detail plus its registration state. The `registration` block reflects the caller
            partition described above: anonymous callers omit `registration_open`,
            `registration_window`, and `already_registered`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              examples:
                registrable_anonymous:
                  summary: Anonymous caller — event-level config only (per-user fields omitted)
                  value:
                    id: "4567"
                    title: "Introduction to Anvil"
                    description: "<p>A hands-on introduction to the Anvil system.</p>"
                    start_date: "2026-09-10T15:00:00Z"
                    end_date: "2026-09-10T17:00:00Z"
                    location: "Online"
                    event_type: "Workshop"
                    skill_level: "Beginner"
                    speakers: "Jane Researcher"
                    tags: "hpc, training"
                    registration_url: null
                    series_id: "1234"
                    registration:
                      enabled: true
                      capacity: 100
                      registered_count: 42
                      seats_remaining: 58
                      waitlist_enabled: true
                registrable_authenticated:
                  summary: Authenticated (X-Acting-User) caller — per-user fields present
                  value:
                    id: "4567"
                    title: "Introduction to Anvil"
                    description: "<p>A hands-on introduction to the Anvil system.</p>"
                    start_date: "2026-09-10T15:00:00Z"
                    end_date: "2026-09-10T17:00:00Z"
                    location: "Online"
                    event_type: "Workshop"
                    skill_level: "Beginner"
                    speakers: "Jane Researcher"
                    tags: "hpc, training"
                    registration_url: null
                    series_id: "1234"
                    registration:
                      enabled: true
                      capacity: 100
                      registered_count: 42
                      seats_remaining: 58
                      waitlist_enabled: true
                      registration_open: true
                      registration_window:
                        opens: "2026-08-01T00:00:00Z"
                        closes: "2026-09-09T23:59:59Z"
                      already_registered: false
                native_off:
                  summary: Event with native registration disabled
                  value:
                    id: "4568"
                    title: "ACCESS Community Call"
                    description: "<p>Monthly community call.</p>"
                    start_date: "2026-09-15T16:00:00Z"
                    end_date: "2026-09-15T17:00:00Z"
                    location: "Online"
                    event_type: "Community"
                    skill_level: null
                    speakers: null
                    tags: null
                    registration_url: "https://example.org/register"
                    series_id: "1235"
                    registration:
                      enabled: false
        '404':
          description: |
            The event instance does not exist, or the caller is not permitted to view it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                not_found:
                  summary: Event not found or not viewable
                  value:
                    error: "not_found"
                    message: "Event not found."

components:
  schemas:
    Event:
      type: object
      description: An ACCESS event (training, webinar, office hours, etc.)
      required:
        - id
        - title
        - start_date
      properties:
        id:
          type: string
          description: Unique event ID
          example: "8504"
        title:
          type: string
          description: Event title
          example: "Open OnDemand Tips and Tricks Call"
        summary:
          type: string
          description: Brief summary of the event (max 150 characters)
          maxLength: 150
          example: "Learn practical tips for using this powerful, web-based platform that gives you seamless access to HPC resources—no software needed."
        description:
          type: string
          description: Full HTML description of the event
          example: "Join our monthly community-hosted call to learn practical tips..."
        contact:
          type: string
          description: Contact information for the event
          example: "support@access-ci.org"
        affiliation:
          type: string
          description: Comma-separated list of affiliations
          example: "ACCESS Collaboration, nairr_pilot"
        affinity_group:
          type: string
          description: Affinity group associated with the event
          example: "Anvil"
        created:
          type: string
          format: date-time
          description: When the event was created (ISO 8601 UTC)
          example: "2025-09-15T14:39:34Z"
        changed:
          type: string
          format: date-time
          description: When the event was last modified (ISO 8601 UTC)
          example: "2025-09-15T14:40:14Z"
        event_type:
          type: string
          description: Type of event
          enum: [Training, Office Hours, other]
          example: "other"
        location:
          type: string
          description: Event location (physical or virtual)
          example: "Zoom"
        registration:
          type: string
          format: uri
          description: Registration URL
          example: "https://utah.zoom.us/meeting/register/..."
        registration_enabled:
          type: boolean
          description: |
            Whether native ACCESS registration is enabled for the event. This describes the
            event's native-ACCESS-registration configuration and is distinct from the external
            `registration` URL above.

            Documented as a boolean (the logical type; the search index field is typed boolean).
            Note that the underlying data export emits Drupal `'Yes'`/`'No'` strings rather than
            JSON booleans, so consumers reading the raw export should parse those string values.
          example: true
        registration_capacity:
          type: integer
          description: |
            Maximum native-ACCESS registration capacity for the event. May be `0` or absent when
            no capacity is set. Describes the event's native-ACCESS-registration configuration,
            distinct from the external `registration` URL.
          example: 100
        registration_has_waitlist:
          type: boolean
          description: |
            Whether the event has a native-ACCESS registration waitlist. Describes the event's
            native-ACCESS-registration configuration, distinct from the external `registration`
            URL.
          example: false
        skill_level:
          type: string
          description: Required skill level
          enum: [Beginner, Intermediate, Advanced, ""]
          example: ""
        tags:
          type: string
          description: Comma-separated list of tags
          example: "open-ondemand,hpc,webinar"
        video:
          type: string
          format: uri
          description: Video URL (often empty for future events)
          example: ""
        start_date:
          type: string
          format: date-time
          description: Event start date and time (ISO 8601 UTC)
          example: "2026-08-06T13:00:00Z"
        end_date:
          type: string
          format: date-time
          description: Event end date and time (ISO 8601 UTC)
          example: "2026-08-06T14:00:00Z"
        speakers:
          type: string
          description: Comma-separated list of speaker names
          example: "Dr. Jane Smith, Prof. John Doe"
        url:
          type: string
          format: uri
          description: Canonical URL to the event page on support.access-ci.org
          example: "https://support.access-ci.org/events/open-ondemand-tips-and-tricks-call"

    RegistrationState:
      description: |
        The registration state for an event instance, returned on the event **detail** endpoint.

        This block is **partitioned by caller**. The event-level configuration
        (`enabled`, `capacity`, `registered_count`, `seats_remaining`, `waitlist_enabled`) is
        returned to everyone. The per-user fields `registration_open`, `registration_window`, and
        `already_registered` are present **only** for authenticated acting-user callers
        (`X-Acting-User`); anonymous callers omit them entirely.

        When native ACCESS registration is not enabled for the event, the block is
        `{ "enabled": false }`.
      oneOf:
        - type: object
          description: Native registration is not enabled for the event.
          properties:
            enabled:
              type: boolean
              enum: [false]
              description: Always `false` in this variant.
              example: false
          required:
            - enabled
        - type: object
          description: |
            The registration state. `enabled`, `capacity`, `registered_count`, `seats_remaining`,
            and `waitlist_enabled` are returned to anonymous and authenticated callers alike.
            `registration_open`, `registration_window`, and `already_registered` are added **only**
            for authenticated (X-Acting-User) callers and are absent from anonymous responses.
          properties:
            enabled:
              type: boolean
              enum: [true]
              example: true
            capacity:
              type: integer
              nullable: true
              description: Total capacity, or null when the event has unlimited capacity.
              example: 100
            registered_count:
              type: integer
              description: Number of non-waitlisted registrants.
              example: 42
            seats_remaining:
              type: integer
              nullable: true
              description: Seats remaining, or null when capacity is unlimited.
              example: 58
            waitlist_enabled:
              type: boolean
              description: Whether a waitlist is enabled for the event.
              example: true
            registration_open:
              type: boolean
              description: |
                Whether the registration window is currently open. **Authenticated callers only** —
                omitted from anonymous responses.
              example: true
            registration_window:
              type: object
              description: |
                The registration window, with Z-suffixed ISO-8601 dates. **Authenticated callers
                only** — omitted from anonymous responses.
              properties:
                opens:
                  type: string
                  format: date-time
                  nullable: true
                  description: When registration opens, or null if unset.
                  example: "2026-08-01T00:00:00Z"
                closes:
                  type: string
                  format: date-time
                  nullable: true
                  description: When registration closes, or null if unset.
                  example: "2026-09-09T23:59:59Z"
            already_registered:
              type: boolean
              description: |
                Whether the acting user is already registered (counts waitlisted too).
                **Authenticated callers only** — omitted from anonymous responses.
              example: false
          required:
            - enabled

    EventDetail:
      type: object
      description: |
        A single event instance plus its registration state. Inherited fields degrade to null when
        absent or empty.
      properties:
        id:
          type: string
          description: The event instance ID (as a string).
          example: "4567"
        title:
          type: string
          nullable: true
          example: "Introduction to Anvil"
        description:
          type: string
          nullable: true
          description: HTML description.
          example: "<p>A hands-on introduction to the Anvil system.</p>"
        start_date:
          type: string
          format: date-time
          nullable: true
          description: Start date-time, ISO-8601 with a trailing Z.
          example: "2026-09-10T15:00:00Z"
        end_date:
          type: string
          format: date-time
          nullable: true
          description: End date-time, ISO-8601 with a trailing Z.
          example: "2026-09-10T17:00:00Z"
        location:
          type: string
          nullable: true
          example: "Online"
        event_type:
          type: string
          nullable: true
          description: Human-readable event type label.
          example: "Workshop"
        skill_level:
          type: string
          nullable: true
          description: Human-readable skill-level label.
          example: "Beginner"
        speakers:
          type: string
          nullable: true
          example: "Jane Researcher"
        tags:
          type: string
          nullable: true
          description: Comma-separated list of tag (taxonomy term) names.
          example: "hpc, training"
        registration_url:
          type: string
          format: uri
          nullable: true
          description: External registration URL, if the event links out rather than using native registration.
          example: "https://example.org/register"
        series_id:
          type: string
          description: The parent event series ID (as a string).
          example: "1234"
        registration:
          $ref: '#/components/schemas/RegistrationState'

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error type
        message:
          type: string
          description: Human-readable error message
        code:
          type: integer
          description: HTTP status code
          
tags:
  - name: Events
    description: ACCESS events, trainings, and webinars
  - name: Event Detail
    description: A single event's detail with its registration state (partitioned by caller)

externalDocs:
  description: Find out more about ACCESS
  url: https://access-ci.org