openapi: 3.0.3
info:
  title: ACCESS Resource Documentation API
  description: |
    Public JSON endpoints for ACCESS resource provider documentation.
    Drives syndication to Elastic search and the RAG ingestion pipeline.

    ## What's in it
    - **Resources** — ACCESS-allocated compute, storage, and cloud resources with team-authored documentation. Includes per-resource login info, file transfer methods, storage filesystems, queue specs, top software, and datasets.
    - **Resource Groups** — logical groupings of related resources (e.g. "Bridges-2" covers Bridges-2 RM, GPU, EM). Used to set shared defaults that child resources inherit.
    - **Inheritance** — when a resource leaves a field empty and its parent group has a value, the group's value is returned as the effective value. The API surfaces the resolved value so consumers don't need to track inheritance themselves.

    ## Authentication
    No authentication required - this is a public API.

  version: 1.0.0
  contact:
    name: ACCESS Support
    url: https://support.access-ci.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://support.access-ci.org/api/1.0
    description: Production server

paths:
  /resources:
    get:
      summary: List resources
      description: |
        Returns all ACCESS resources with team-authored documentation.

        **Default behavior:** Only resources whose `description` is populated are returned. Pass `?documented=false` to include CIDER-imported stubs that have no team-authored content yet.
      operationId: listResources
      tags:
        - Resources
      parameters:
        - name: documented
          in: query
          description: |
            When `true` (default), return only resources with a populated description. When `false`, return all CIDER-imported resources including stubs.
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: A list of resources.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of resources returned.
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceSummary'

  /resources/{resource_id}:
    get:
      summary: Get resource detail
      description: |
        Returns full documentation for a single resource. Field values reflect Resource Group inheritance — if the resource leaves an inheritable field empty, the parent group's value is returned.
      operationId: getResource
      tags:
        - Resources
      parameters:
        - name: resource_id
          in: path
          required: true
          description: CIDER resource identifier (`field_cider_resource_id`).
          schema:
            type: string
      responses:
        '200':
          description: |
            Resource detail. Response includes conditional-request headers:
            - `ETag`: Revalidation token (not a content fingerprint). Pass this value as `If-None-Match` to receive a 304 response if the resource has not changed.
            - `Last-Modified`: ISO 8601 timestamp of the resource's last modification.
          headers:
            ETag:
              description: Revalidation token for conditional requests. Pass to If-None-Match for cache validation.
              schema:
                type: string
            Last-Modified:
              description: ISO 8601 timestamp of the resource's last modification.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDetail'
        '304':
          description: |
            Not modified. Returned when the `If-None-Match` header matches the current `ETag`, indicating the resource has not changed since the client's last request.
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /resource-groups:
    get:
      summary: List resource groups
      description: |
        Returns Resource Groups with their member resources and the set of documentation sections populated across the group. Useful for RAG agents that need to scope capability menus per resource.
      operationId: listResourceGroups
      tags:
        - Resource Groups
      responses:
        '200':
          description: A list of resource groups.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceGroup'

components:
  schemas:
    ResourceSummary:
      type: object
      properties:
        nid:
          type: integer
          description: Drupal node ID.
        title:
          type: string
          description: Long descriptive name from CIDER (e.g. "Indiana Jetstream2 Large Memory").
        short_name:
          type: string
          nullable: true
          description: Shorter display name from CIDER (e.g. "Jetstream2 LM"). May be null for stale resources no longer in the active feed.
        resource_id:
          type: string
          description: CIDER resource identifier, used as the path argument for the detail endpoint.
        global_resource_id:
          type: string
          description: ACCESS global resource ID (e.g. `expanse.sdsc.access-ci.org`).
        org_name:
          type: string
        status:
          type: string
          description: CIDER status (e.g. `production`, `retired`).
        resource_type:
          type: string
          description: CIDER resource type (e.g. `Compute`, `Storage`, `Cloud`).
        has_documentation:
          type: boolean
          description: True if team-authored description content exists.
        url:
          type: string
          format: uri
          description: Absolute URL of the resource documentation page.
        last_modified:
          type: string
          format: date-time
          description: ISO 8601 node changed time. Bumps on any save.

    ResourceDetail:
      type: object
      properties:
        nid:
          type: integer
        title:
          type: string
          description: Long descriptive name from CIDER.
        short_name:
          type: string
          nullable: true
          description: Shorter display name from CIDER. May be null for stale resources.
        resource_id:
          type: string
        global_resource_id:
          type: string
        resource_type:
          type: string
        org_name:
          type: string
        org_url:
          type: string
          format: uri
          nullable: true
        status:
          type: string
        url:
          type: string
          format: uri
        last_modified:
          type: string
          format: date-time
          description: ISO 8601 node changed time. Bumps on any save.
        content_hash:
          type: string
          description: >-
            Deterministic, host-independent SHA-256 fingerprint of the resource
            payload, computed over the assembled content with last_modified and
            absolute-URL fields excluded. Use this (not last_modified) to skip
            re-embedding unchanged resources, since changed time bumps on no-op
            saves. Present on the detail endpoint only.
        description:
          type: string
          nullable: true
        mfa_required:
          type: boolean
        account_required:
          type: boolean
        ondemand_url:
          type: string
          format: uri
          nullable: true
        office_hours:
          type: string
          format: uri
          nullable: true
          description: Link to RP office hours. Inherited from Group when empty.
        login_text:
          type: string
          nullable: true
          description: Rich text displayed above SSH/OnDemand login boxes.
        file_transfer_text:
          type: string
          nullable: true
          description: Rich text displayed above the file transfer methods table.
        jobs_info:
          type: string
          nullable: true
          description: Rich text displayed above the queue specs table.
        software_list_url:
          type: string
          format: uri
          nullable: true
          description: Link to the RP's official software list.
        external_storage:
          type: string
          nullable: true
        ssh_logins:
          type: array
          items:
            $ref: '#/components/schemas/SshLogin'
        login_help_links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        account_setup_url:
          type: string
          format: uri
          nullable: true
        support_links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        file_transfer:
          type: array
          items:
            $ref: '#/components/schemas/FileTransferMethod'
        storage:
          type: array
          items:
            $ref: '#/components/schemas/StorageFilesystem'
        queue_specs:
          type: array
          items:
            $ref: '#/components/schemas/QueueSpec'
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/Dataset'
        top_software:
          type: array
          description: Most-used software on this resource, from XDMoD job data.
          items:
            type: object
            properties:
              name:
                type: string
              job_count:
                type: integer
                nullable: true
              description:
                type: string
                nullable: true
              research_field:
                type: string
                nullable: true
              web_page:
                type: string
                format: uri
                nullable: true
        ood_software:
          type: array
          description: >-
            Software available on this resource via ACCESS OnDemand. Entries are
            manually curated and enriched from the SDS catalog (description,
            research_field, web_page). Sorted by job_count desc when usage data
            is present; unmatched entries retain human-input order.
          items:
            type: object
            properties:
              name:
                type: string
              job_count:
                type: integer
                nullable: true
              description:
                type: string
                nullable: true
              research_field:
                type: string
                nullable: true
              web_page:
                type: string
                format: uri
                nullable: true

    SshLogin:
      type: object
      required:
        - hostname
      properties:
        hostname:
          type: string
          description: SSH login hostname (e.g. `login.expanse.sdsc.edu`).
        username_placeholder:
          type: string
          nullable: true
          description: RP-specific username hint shown in the example command (e.g. `PSC_USERNAME`). When empty, clients should display `<your_username>`.
        docs_url:
          type: string
          format: uri
          nullable: true
          description: Optional link to per-node documentation or account setup.
        recommended:
          type: boolean

    Link:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
          format: uri

    FileTransferMethod:
      type: object
      properties:
        method:
          type: string
          description: Transfer method name (e.g. `Globus`, `SCP`).
        transfer_node:
          type: string
          nullable: true
        transfer_url:
          type: string
          format: uri
          nullable: true
        recommended:
          type: boolean

    StorageFilesystem:
      type: object
      properties:
        directory:
          type: string
        path:
          type: string
        quota_size:
          type: integer
          nullable: true
          description: Quota capacity in GB.
        quota_inode_amount:
          type: integer
          nullable: true
          description: Quota file/inode count.
        purge:
          type: string
          nullable: true
        backup:
          type: string
          nullable: true
        notes:
          type: string
          nullable: true
        summary:
          type: string
          nullable: true
          description: Derived human-readable one-line summary (e.g. "25 GB, 1,000,000 files").

    QueueSpec:
      type: object
      properties:
        name:
          type: string
        purpose:
          type: string
          nullable: true
        node_count:
          type: integer
          nullable: true
          description: Number of nodes in this partition.
        cpu_count:
          type: integer
          nullable: true
          description: Number of CPU cores per node.
        cpu_type:
          type: string
          nullable: true
          description: CPU model string (e.g. "AMD EPYC 7763").
        gpu_count:
          type: integer
          nullable: true
          description: Number of GPUs.
        gpu_type:
          type: string
          nullable: true
          description: GPU model string (e.g. "NVIDIA A100").
        gpu_vram:
          type: integer
          nullable: true
          description: GPU vRAM in GB.
        ram:
          type: integer
          nullable: true
          description: Node RAM in GB.
        max_wall_time_hours:
          type: number
          nullable: true
          description: Maximum wall time a single job may run on this queue, in hours. May be fractional for sub-hour limits (e.g. 0.5 for a 30-minute debug queue). Null means no limit.
        max_wall_time_display:
          type: string
          nullable: true
          description: Friendly rendering of the wall-time limit (e.g. "30 minutes", "48 hours", "1 hour 30 minutes"). Null means no limit.
        summary:
          type: string
          nullable: true
          description: Derived human-readable one-line summary (e.g. "4 NVIDIA A100 (80 GB vRAM), 2 nodes, 64-core AMD EPYC 7763, 256 GB RAM").

    Dataset:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true

    ResourceGroup:
      type: object
      properties:
        nid:
          type: integer
        slug:
          type: string
          description: URL-safe slug (e.g. `bridges-2`). Matches `data-scope-slug` on the embedded QA bot.
        title:
          type: string
        url:
          type: string
          format: uri
        populated_sections:
          type: array
          description: Section identifiers that have content on any member resource (e.g. `login`, `file_transfer`, `storage`, `queue_specs`, `top_software`, `datasets`).
          items:
            type: string
        variants:
          type: array
          items:
            type: object
            properties:
              nid:
                type: integer
              title:
                type: string
                description: Long descriptive name from CIDER.
              short_name:
                type: string
                nullable: true
                description: Shorter display name from CIDER.
              resource_id:
                type: string
              global_resource_id:
                type: string
