.path-community,
.path-people,
.path-events,
.path-mentorships,
.path-affinity-groups,
.page-members,
.page-node-11042,
.path-knowledge-base {
  .collapsiblockTitle button {
    padding: 0;
  }

  .block-facet--checkbox:has(.collapsiblockTitle) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .block-facet--checkbox:not(:has(.collapsiblockTitle)) {
      display: none;
    }

    .block-facet--checkbox:has(.collapsiblockTitle) {
      display: block;
    }
  }
}
